:root {
  --main-text-color: #fff;
  --additional-text-color: #BDBDBD;
  --bg-color: #003D5F;
  --main-font: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
}

.block-middle, .block-middle__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-back {
  position: absolute;
  top: 110px;
  left: 120px;
  text-align: center;
  cursor: pointer;
}

.get-back__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #F98948;
}

.block-middle__title {
  text-align: center;
  font-style: normal;
  font-weight: normal;
}

.title__text {
  font-size: 144px;
  line-height: calc(176px * 1.5);
  letter-spacing: 0.04em;
}

.block-middle__input {
  display: block;
  width: 405px;
  height: 64px;
  background: var(--bg-color);
  border: 3px solid #49B9F9;
  border-radius: 32px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-family: var(--main-font);
  color: var(--main-text-color);
  margin-top: 129px;
  margin-bottom: 30px;
}

.block-middle__button {
  width: 200px;
  height: 48px;
  background: #49B9F9;
  color: var(--main-text-color);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  border: none;
  font-size: 24px;
  font-family: var(--main-font);
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 30px;
  cursor: pointer;
  transition: transform .25s, box-shadow .25s, background-color .25s;
}

.block-middle__button:hover {
  background-color: #2ba1e6;
}

.block-middle__button:active {
  transform: translate(3%, 3%);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}